    body {
        font-family: 'San Francisco';
        margin: 0;
        padding: 15px;
        background-color: rgb(20, 16, 25);
      }
      @font-face{
        font-family: "San Francisco";
        src:url("./sfp.ttf")format("truetype");
        font-weight:normal;
        font-style:normal;
        font-display:swap;
    }
.btn-8 {
  background-color: #f0ecfc;
  background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
  line-height: 42px;
  padding: 0;
  margin: 14px 0;
  border: none;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	padding: 10px;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	color: #fff;
	font-weight: 400px;
	transition: 0.7s;
  padding: 10px 25px;
  width: 100%;
  height: 45px;
  font-family:  "San Francisco";
  font-size: medium;
}
.btn-8 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-8 span a{
  text-decoration: none;
  color: #fff;
}
.btn-8:before,
.btn-8:after {
	content: "";
	left: 50%;
	transform: translatex(-50%);
	top: -5px;
	width: 30px;
	height: 10px;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.btn-8:hover{
  background: transparent;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: #a400d6 0 1px 30px;
  transition-duration: .1s;
}
.btn-8:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn-8:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.text-box {
  margin-right: 11vw;
  margin-left: 11vw;
  margin-top: 5vw;
}
#searchbar {
    margin: 10px;
    background: linear-gradient(92.88deg, #a400d6 9.16%, #a400d6 43.89%, #FF06B7 64.72%);
    font-family: "San Francisco";
    padding: 10px;
    border-radius: 30px;
    width: 50%;
    border: none;
    overflow: hidden;
    backdrop-filter: blur(15px);
    transition: 0.7s;
}
#searchbar:hover {
  box-shadow: #a400d6 0 1px 30px;
  transition-duration: .1s;
}
#searchbar span a{
  text-decoration: none;
  color: #fff;
}
::-webkit-input-placeholder {
  color: #fff;
}
::-moz-placeholder {
  color: #fff;  
}
::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
  to bottom,
  #a400d6,
  #FF06B7);

  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background: #474747;
}
::-moz-scrollbar {
  width: 20px;
  height: 20px;
}

::-moz-scrollbar-thumb {
  background: linear-gradient(
  to bottom,
  #a400d6,
  #FF06B7);

  border-radius: 50px;
}

::-moz-scrollbar-track {
  background: #474747;
}
.ornek{
  margin:auto;
  }
  .sola-kaydir{
  float:left;
  padding:0 10px 10px 0;
  }